<!DOCTYPE html>
<html>
<head>
    <title>Skin Care Clinic-About</title>
    <link rel="stylesheet" href="about.css">

    <link rel= "stylesheet" type= "text/css" href= "static\styles\about.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "about">
        <div class="container">
            <div class="navbar">
                <p class="websiteIntro">Welcome</p>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('home') }}">HOME</a></li>
                        <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                        <li><a href="{{ url_for('upload') }}">UPLOAD PICTURES</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col">
                    <h1>About</h1>
                    <h2>The Mission</h2>
                    <p>Skin Care Clinic wants to help you beat your skin insecurities through an online forum that will connect you with a dermatologist.</p>
                    <p>Stop feeling insecure with your skin and start to learn which products will actually help you get rid of blemishes and clear your face.</p>
                </div>
                <div class="col">
                    <div class="card card1">
                        <h5>Go from blemishes and imperfections to...</h5>
                    </div>
                    <div class="card card2">
                        <h5>Clear, smooth, healthy, and happy skin!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>