<!DOCTYPE html>
<html>
<head>
    <title>Skin Care Clinic</title>
    <link rel="stylesheet" href="style.css">

    <link rel= "stylesheet" type= "text/css" href= "static\styles\style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <p class="websiteIntro">Welcome</p>
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <h1>Skin Care Clinic</h1>
                <p>Skin Care Clinic is an online blahablhalahlbahlah...</p>
                <button type="button">Upload Skin Pictures</button>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5>1. Identify skin concern</h5>
                </div>
                <div class="card card2">
                    <h5>2. Upload pictures of skin</h5>
                </div>
                <div class="card card3">
                    <h5>3. Dermatologist will anaylze pictures and send comments.</h5>
                </div>
                <div class="card card4">
                    <h5>4. Use recommended products to achieve clear skin!</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>