<!DOCTYPE html>
<html>
<head>
    <title>Skin Care Clinic</title>
    <link rel="stylesheet" href="style.css">

    <link rel= "stylesheet" type= "text/css" href= "static\styles\upload.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "upload">
        <div class="container">
            <div class="navbar">
                <p class="websiteIntro">Welcome</p>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('home') }}">HOME</a></li>
                        <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                        <li><a href="{{ url_for('upload') }}">UPLOAD PICTURES</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Skin Care Clinic</h1>
                    <p>Skin Care Clinic is an online blahablhalahlbahlah...</p>
                        <form action="/upload" method="POST" enctype="multipart/form-data">

                            <div>
                                <label>Select Image</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="image" id="image">
                                        <label class="custom-file-input" for="image"></label>
                                    </div>
                                </div>
                            <button type="submit" class="btn btn-primary">Upload Image</button>
                        </form>
                </div>
                <div class="col">
                    <div class="card card1">
                        <h5>1. Identify skin concern</h5>
                    </div>
                    <div class="card card2">
                        <h5>2. Upload pictures of skin</h5>
                    </div>
                    <div class="card card3">
                        <h5>3. Dermatologist will anaylze pictures and send comments.</h5>
                    </div>
                    <div class="card card4">
                        <h5>4. Use recommended products to achieve clear skin!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>