<!DOCTYPE html>
<html>
<head>
    <title>Skin Care Clinic</title>
    <link rel="stylesheet" href="style.css">

    <link rel= "stylesheet" type= "text/css" href= "static\styles\upload.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "upload">
        <div class="container">
            <div class="navbar">
                <p class="websiteIntro">Welcome</p>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('home') }}">HOME</a></li>
                        <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                        <li><a href="{{ url_for('upload') }}">UPLOAD PICTURES</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Skin Care Clinic</h1>
                    <p>Skin Care Clinic is an online alternative to your classic dermatologist...</p>
                        <form action="/upload" method="POST" enctype="multipart/form-data">

                                    <p>First name:</p>
                                    <label for="fname"></label>
                                    <input type="text" id="fname" name="input1"><br><br>
                                    <p>Last name:</p>
                                    <label for="lname"></label>
                                    <input type="text" id="lname" name="input1"><br><br>
                                    <p>Enter your phone number:</p>
                                    <label for="phone"></label>
                                    <input type="tel" id="phone" name="input1" pattern="[0-9]{10}">
                                    <p>Write what kind of symptoms you may be experiencing, for example, itchiness, burning sensatoin, dry, etc.</p>
                                    <input name="input1"></input>

                                    <form action="/upload" method="POST" enctype="multipart/form-data">
                                    <p>Upload images of the targetted area you want help with.</p>
                                <div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="image" id="image">
                                        <label class="custom-file-input" for="image"></label>
                                    </div>
                                </div>
                            <button type="submit" class="btn btn-primary">Upload Image</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>